.container {
    padding: 20px;
}

.container .filter-container {
    display: flex;
    justify-content: end;
    gap: 20px    
}

.additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}

[mat-row] {
    cursor: pointer;
}