.container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 5%;
}

.container .content-container {
    display: flex;
    gap: 40px;
}

button {
    width: max-content;
}

